[ASTEROID]
Population model    = sample-S0.ssm
SPK T0              = 59200
nDays               = 4300
SPK step            = 30
nbody               = T

[SURVEY]
Survey database     = sample-kraken_2026.db
Field1              = 1
nFields             = 1000
Telescope           = I11

[CAMERA]
Camera              = instrument_polygon.dat
Threshold           = 5
