[CONF]
; NAIF SPICE kernels (Earth orientation, leap sec, etc.) (input)
SPICE metakernel    = meta_kernel
; Planetary ephemeris file for OpenOrb
Planetary ephem     = de430.dat
; Location to save and retrieve data files
Data path           = ../data
; Number of parallel processes
n_Proc              = 2

[CAMERA]
; Definition of camera FOV and related information (input)
Camera              = instrument_polygon.dat
;Camera              = instrument_circle.dat
; SPICE Instrument Kernel for camera (output)
SPICE IK            = camera.ti
; Threshold in degrees for shortlisting targets before checking if present in FOV (<=90 degrees)
Threshold           = 5

[ASTEROID]
; Asteroid population model (input)
Population model    = ../test/sample-S0.ssm
;Population model    = results.csv
; Base file name and path for storing and retrieving asteroid spks (input/output)
Asteroid SPKs       = test.csv_obj
; Path for storing asteroid SPKs (input/output)
Asteroid SPK path   = ../test/horizons
; First row to be read from population model (starting from 1)
Object1             = 1
; Number of objects to load from population model
nObjects            = 10
; Make SPKs?
Make SPKs           = T
; SPK start time (required also for creating observatory spk)
;SPK T0              = 54400
SPK T0              = 59200
; Number of days to propagate orbits for SPKs (required also for creating observatory spk)
nDays               = 4300
;nDays                = 10
; SPK step size (days, int)
SPK step            = 30
;Propagation method (n-body or 2-body)
nbody               = T

[SURVEY]
; sqlite database of survey simulation (input)
Survey database     = ../test/sample-kraken_2026.db
; MJD to shift the entire survey to (int)
;Survey T0           = 54476
;Survey T0           = 58300
; First field to be read from database (int starting from 1)
Field1              = 1
; Number of fields to read from Survey Simulation (int)
nFields             = 1000
; Space based survey? (T or F)
Space               = F
; Spacecraft SPK and SPICE ID (int)
SCID                = 1696
; List of MPC observatory codes 
MPCobscode file     = obslist.dat
; MPC obscode of the survey observatory 
Telescope           = I11
