[ASTEROID]
Population model    = vi_v1.ssm 
SPK T0              = 59200
nDays               = 4300
SPK step            = 1
nbody               = H
Object1             = 1
nObjects            = 50
stopTimesFile       = stopTimes.dat
Make SPKs = T
[SURVEY]
Survey database     = baseline_v3.4_10yrs.db
Field1              = 1
nFields             = 1000000
Telescope           = I11

[CAMERA]
Camera              = instrument_polygon.dat
Threshold           = 5
